# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.env.*
.venv/

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Docker
docker-compose.override.yml

# Streamlit
.streamlit/secrets.toml

# Cache / temp
.cache/
tmp/